<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.instagram.dao.PostMapper">
    <!--    public Account getAcct(Long id); -->
    <insert id = "addPost" useGeneratedKeys="true" keyProperty="id" >
        insert into post(`uid`,`caption`,`createdAt`)
                    values (#{user.id}, #{caption}, #{createdAt});
    </insert>
    <insert id = "addPostImages" >
        insert into post_images(`post_id`,`image_url`)
                    values (#{postId}, #{imageUrl});
    </insert>
    <insert id = "addPostTags" >
        insert into post_tags(`post_id`,`hashtag`)
        values (#{postId}, #{hashTag});
    </insert>
    <insert id = "addPostComment">
        insert into post_comments(`post_id`,`uid`, `comment`, `createdAt`)
        values (#{postId}, #{uid}, #{comment}, #{createdAt});
    </insert>
    <resultMap id="PostMap" type="com.jay.instagram.bean.Post">
        <result column="id" property="id" />
        <result column="uid" property="user.id"/>
        <result column="caption" property="caption"/>
        <result column="likes_count" property="likesCount"/>
        <result column="comments_count" property="commentsCount"/>
        <result column="createdAt" property="createdAt"/>
    </resultMap>
    <select id = "getPost" resultMap = "PostMap" >
        select * from post where id = #{postId}
    </select>
    <select id="getPostImages" resultType="string">
        select image_url from post_images where post_id = #{postId}
    </select>
    <select id="getPostTags" resultType="string">
        select hashtag from post_tags where post_id = #{postId}
    </select>
    <select id="getRandomPosts" resultType="Long">
        select id from post order by RAND() LIMIT 12
    </select>
    <select id="getPostNumbers" resultType="Long">
        select count(*) from post where uid = #{uid}
    </select>
    <select id = "getPostByUid" resultType = "Long" >
        select id from post where uid = #{uid} order by createdAt desc
    </select>
    <resultMap id="CommentMap" type="com.jay.instagram.bean.Comment">
        <result column="post_id" property="postId" />
        <result column="uid" property="uid"/>
        <result column="comment" property="comment"/>
        <result column="createdAt" property="createdAt"/>
    </resultMap>
    <select id = "getPostComments" resultMap="CommentMap" >
        select * from post_comments where post_id = #{postId}
    </select>
    <select id = "getCommentsCount" resultType="Long" >
        select count(*) from post_comments where post_id = #{postId}
    </select>
    <delete id="deletePost">
        delete from post where id = #{id}
    </delete>

    <select id = "findToggleLike" resultType="Long" >
        select count(*) from post_likes where post_id = #{postId} and uid = #{uid};
    </select>
    <insert id = "toggleLike">
        insert into post_likes(`post_id`,`uid`) values (#{postId}, #{uid});
    </insert>
    <delete id="toggleUnLike">
        delete from post_likes where post_id = #{postId} and uid = #{uid};
    </delete>
    <select id="getPostLikeNumbers" resultType="Long">
        select count(*) from post_likes where post_id = #{postId};
    </select>

    <select id = "findToggleSave" resultType="Long" >
        select count(*) from post_saves where post_id = #{postId} and uid = #{uid};
    </select>
    <insert id = "toggleSave">
        insert into post_saves(`post_id`,`uid`) values (#{postId}, #{uid});
    </insert>
    <delete id="toggleUnSave">
        delete from post_saves where post_id = #{postId} and uid = #{uid};
    </delete>
    <select id="getAllSavePosts" resultType="Long">
        select * from post_saves where uid = #{uid};
    </select>
</mapper>