<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jay.instagram.dao.UserMapper">
    <!--    public Account getAcct(Long id); -->
    <insert id = "addUser" useGeneratedKeys="true" keyProperty="id" >
        insert into user(`username`,`password`,`fullname`,`email`,`createdAt`)
                    values (#{username}, #{password},#{fullname},#{email}, #{createdAt})
    </insert>
    <select id = "getPasswordById" resultType="string" >
        select `password` from user where id = #{id}
    </select>
    <select id = "getPasswordByEmail" resultType="string" >
        select `password` from user where email = #{email}
    </select>
    <select id = "getUserById" resultType="com.jay.instagram.bean.User" >
        select * from user where id = #{id}
    </select>
    <select id = "getUserByEmail" resultType="com.jay.instagram.bean.User" >
        select * from user where email = #{email}
    </select>
    <select id = "getUserByUsername" resultType="com.jay.instagram.bean.User" >
        select * from user where username = #{userName}
    </select>
    <update id = "updateUser" >
        update user set username = #{username}, fullname = #{fullname}, avatar = #{avatar},
                        website = #{website}, bio = #{bio}
                        where email = #{email}
    </update>
    <select id = "getRecentUsers" resultType="com.jay.instagram.bean.User" >
        select * from user order by RAND() LIMIT 10
    </select>

    <insert id = "follow">
        insert into user_follow(`uid`,`follower_uid`) values (#{userId}, #{followerId});
    </insert>
    <delete id = "unFollow">
        delete from user_follow where uid = #{userId} and follower_uid = #{followerId};
    </delete>
    <select id = "findFollow" resultType="Long" >
        select count(*) from user_follow where uid = #{userId} and follower_uid = #{followerId};
    </select>
    <select id = "findFollowers" resultType="Long" >
        select follower_uid from user_follow where uid = #{userId};
    </select>
    <select id = "findFollowingUsers" resultType="Long" >
        select uid from user_follow where follower_uid = #{userId};
    </select>
</mapper>